<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="DCExchangeSrvPortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://10.20.29.2:8888/EchangeServerTFOMS/DCExchangeSrv"
                binding="basicHttpBinding" bindingConfiguration="DCExchangeSrvPortBinding"
                contract="WS.DCExchangeSrv" name="DCExchangeSrvPort" />
        </client>
    </system.serviceModel>
</configuration>